@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');

:root {
    --heading-font: 'Stack Sans Notch';
    --main-font: 'sans-serif';
}

body {
    background-color: white;
    height: 100vh;
    overflow: hidden;
}

main * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--heading-font);
    background-color: rgb(246, 246, 246);

    display: flex;
    flex-direction: column;
}
.hero {
    padding: 150px 30px;
    align-items: center;
    overflow: hidden;
    position: relative;
    background: linear-gradient(135deg, #667eea, #764ba2);
}
h1 {
    margin: 10px;
    padding: 10px;
}
p {
    padding: 3px;
}